.card {
    border: 1px solid red;
    margin-bottom: 50px;
}

.item__small {
    width: 200px;
    height: 200px;
}

.item__medium {
    width: 300px;
    height: 300px;
}

.item__big {
    width: 400px;
    height: 400px;
}

.img__item {
    height: 50%;
    width: 100%;
}